.clear {
	clear: both;
}

input[disabled],
input:disabled,
input.disabled {
	color: #63617D;
	-webkit-text-fill-color: #63617D;
	-webkit-opacity: 1;
	opacity: 1;
}

.gray {
	width: 100%;
	height: .1rem;
	background: rgba(250, 250, 250, 1);
}


/*底部导航*/

footer div {
	width: 25%;
}

footer div img {
	margin: auto;
	margin-bottom: .08rem;
}

footer div .txtcloar {
	color: #6E3CFF;
}


/*分页*/

.fenye {
	overflow: hidden;
	/*position: absolute;*/
	width: 100%;
	left: 0;
	bottom: .3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.fenye p {
	font-size: .12rem;
	margin-right: .05rem;
	color: #999999;
}

.fenye div {
	overflow: hidden;
	height: .32rem;
	padding: 0 .09rem;
	text-align: center;
	background: #6E3CFF;
	cursor: pointer;
	line-height: .32rem;
	font-size: .12rem;
	color: #fff;
	margin-left: .12rem;
	border-radius: .06rem;
}

.fenye .ttts {
	margin-left: .40rem;
}

.fenye div.on {
	background: #DDDDDD;
}

.fenye1 {
	overflow: hidden;
	width: 100%;
	left: 0;
	bottom: .3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .3rem 0;
}

.fenye1 p {
	font-size: .24rem;
	margin: 0 .2rem;
	color: #333333;
	font-weight: 500;
}

.fenye1 div {
	overflow: hidden;
	padding: .19rem;
	text-align: center;
	cursor: pointer;
	line-height: .26rem;
	font-size: .24rem;
	color: #6E3CFF;
	margin-left: .12rem;
	border-radius: .12rem;
	border: .02rem solid rgba(221, 221, 221, 1);
	font-weight: 500;
}

.fenye1 .ttts {
	margin-left: 0rem;
	background: none;
}

.fenye1 .top_1 {
	color: #999999;
	background: #F2F2F2;
}

.fenye1 div.on {
	color: #6E3CFF;
	border: .02rem solid #6E3CFF;
	background: none;
}


/*企业首页*/

.top_header {
	/*margin: 0;
	width: 100%!important;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	background: none;
	background-image: url(/HRzhicha/public/images/img/gr@2x.png);
	background-size: 100% 100%;

*/
}

.top_header .main_seach h2 {
	font-size: .34rem;
	font-weight: bold;
	color: #6E3CFF;
	line-height: .44rem;
	margin-bottom: .3rem;
}

.main_seach .fll {
	overflow: hidden;
	position: relative;
	/* height: .8rem;*/
	background: #fff;
	border-radius: .12rem;
	margin-bottom: .2rem;
}

.main_seach .fll div {
	width: 100%;
	/*  height: .8rem;*/
	position: relative;
	font-size: 1px;
	float: left;
	/*margin-top: .02rem;*/
}

.line_none {
	position: relative;
}

.main_seach .fll .in1 {
	width: 100%;
	height: .8rem;
	position: relative;
	float: left;
	outline: none;
	font-size: .24rem;
	color: #585858;
	border: none;
	text-align: left;
	padding-left: .66rem;
	box-sizing: border-box;
}

.main_seach .simg {
	width: .32rem;
	position: absolute;
	/* right: .21rem; */
	left: .2rem;
	top: 50%;
	margin-top: -.16rem;
}

.main_seach .ximg {
	width: .32rem;
	position: absolute;
	/* right: .21rem; */
	/*left:.2rem;*/
	top: 50%;
	margin-top: -.16rem;
}

.main_seach .frr {
	width: 100%;
	height: .8rem;
	border-radius: .5rem;
	background: #6E3CFF;
	font-size: .3rem;
	color: #fff;
	text-align: center;
	line-height: .8rem;
	margin-top: .4rem;
	margin-bottom: .27rem;
}

.main_seach .frr a {
	color: #fff;
}

.home_com {
	background: #FFFFFF;
	position: absolute;
	top: 3.15rem;
	left: .46rem;
	border-radius: .2rem;
	z-index: 999999;
	padding: 0 .3rem;
	cursor: pointer;
}

.home_com li {
	cursor: pointer;
	width: 5.95rem;
	font-size: .22rem;
	line-height: .8rem;
	border-bottom: .01rem solid #DDDDDD;
	/*padding: 0 .3rem;*/
}

.home_com li:nth-last-of-type(1) {
	border-bottom: none;
}

.home_com1 {
	cursor: pointer;
	/*width: 6.5rem;*/
	background: #FFFFFF;
	position: absolute;
	top: 3.15rem;
	left: .46rem;
	border-radius: .2rem;
	z-index: 999999;
	padding: 0 .3rem;
}

.home_com1 li {
	cursor: pointer;
	width: 5.95rem;
	font-size: .22rem;
	line-height: .8rem;
	border-bottom: .01rem solid #DDDDDD;
	/*padding: 0 .3rem;*/
}

.home_com1 li:nth-last-of-type(1) {
	border-bottom: none;
}

.home_com3 {
	cursor: pointer;
	width: 6.4rem;
	background: #FFFFFF;
	position: fixed;
	top: 1.8rem;
	left: .26rem;
	border-radius: .2rem;
	z-index: 999999;
	padding: 0 .3rem;
}

.uks_padding {
	padding: 0 .3rem;
	margin: .4rem 0 0 0;
}

.uks {
	height: 1.5rem;
	border-radius: .2rem;
	background-image: url(/HRzhicha/public/images/img/strock@2x.png);
	background-size: 100% 100%;
	padding: .2rem;
	box-shadow: 0rem 0.04rem 0.17rem 0.03rem rgba(234, 234, 234, 0.35);
}

.com_main_listr ul li {
	background: rgba(255, 255, 255, 1);
	box-shadow: 0rem .04rem .17rem .03rem rgba(234, 234, 234, 0.35);
	border-radius: 0.2rem;
	margin-bottom: 0.2rem;
	padding: .4rem .4rem .4rem .4rem;
	position: relative;
}

.com_main_listr ul li .com_main_img {
	width: .6rem;
	height: .6rem;
	background: #E2E2FF;
	border-radius: .05rem;
	padding: .08rem;
}

.com_main_listr ul li .com_main_img img {}

.com_main_listr ul li .com_main_text {
	width: 78%;
	margin-left: .1rem;
}

.com_main_listr ul li .com_main_title {
	width: 100%;
	font-size: .3rem;
	font-weight: bold;
	color: rgba(99, 97, 125, 1);
	line-height: .36rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.com_main_listr ul li .com_main_text .com_main_txtx {
	font-size: .24rem;
	font-weight: 500;
	color: rgba(177, 177, 199, 1);
	line-height: .39rem;
	margin-top: .15rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.com_main_listr ul li .com_main_text .com_main_txtx div {
	margin-right: .2rem;
}

.com_main_listr ul li .com_main_text .com_main_txtx div p {
	font-size: .24rem;
	color: #ADACC7;
	line-height: .39rem;
	font-weight: 500;
}

.com_main_listr ul li .com_main_text .com_main_txtx div span {
	margin-top: .1rem;
	font-size: .24rem;
	color: #63617D;
	line-height: .39rem;
}

.com_main_listr ul li .com_right_btn {
	letter-spacing: 0.01rem;
	padding-left: .02rem;
	overflow: hidden;
	position: absolute;
	top: .35rem;
	right: .4rem;
	width: .88rem;
	height: .36rem;
	font-size: .22rem;
	font-weight: bold;
	color: #9966ff;
	line-height: .36rem;
	text-align: center;
	border: .02rem solid rgba(153, 102, 255, 1);
	border-radius: .1rem;
}

.main_seach .seachCom div::after {
	display: none;
}


/*个人首页弹窗*/

.pro_btn {
	overflow: hidden;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
	z-index: 9999999;
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.pro_btn .fade_mid {
	width: 5.9rem;
	padding: .56rem 0 .5rem 0;
	box-sizing: border-box;
	background: #fff;
	border-radius: .2rem;
}

.pro_btn .fade_mid #error {
	font-size: .32rem;
	font-weight: bold;
	color: #6E3CFF;
	line-height: .44rem;
	text-align: center;
	margin-bottom: .48rem;
}

.fll_inp {
	overflow: hidden;
	position: relative;
	/* height: .8rem; */
	background: #fff;
	border-radius: .12rem;
	margin-bottom: .2rem;
	padding: 0 .3rem;
}

.fll_inp .line_none input {
	width: 100%;
	height: .8rem;
	position: relative;
	background: #F8F8F8;
	font-size: .24rem;
	font-weight: 400;
	color: #585858;
	line-height: .8rem;
	border: none;
	text-align: left;
	padding-left: .66rem;
	box-sizing: border-box;
	border-radius: .2rem;
}

.fll_inp .line_none {
	width: 100%;
	/* height: .8rem; */
	position: relative;
	font-size: 1px;
	float: left;
	margin-top: .02rem;
	border-radius: .2rem;
}

.fll_inp .simg {
	width: .32rem;
	position: absolute;
	/* right: .21rem; */
	left: .43rem;
	top: 50%;
	margin-top: -.16rem;
}

.frr_xx {
	/* width: 100%;*/
	margin: 0 .3rem;
	height: .8rem;
	border-radius: .5rem;
	background: #6E3CFF;
	font-size: .3rem;
	color: #FFFFFF;
	text-align: center;
	line-height: .8rem;
	margin-top: .4rem;
	margin-bottom: .27rem;
}

.frr_xx a {
	font-size: .3rem;
	color: #FFFFFF;
	text-align: center;
	line-height: .8rem;
}


/*.main_seach .seachCom .line_none input {
	width: 5.2rem;
}*/


/*信息详情页（企业详请页）样式开始*/


/* 头部标题部分 开始*/

.main_content {
	padding: .3rem .3rem .6rem;
}

.main_content .main_content_title {
	height: auto;
	padding: .4rem .4rem .3rem;
	background: #FFFFFF;
	border-radius: .2rem;
	box-shadow: 0 .04rem .17rem .03rem rgba(234, 234, 234, 0.35);
}

.main_content .main_content_title .top_title .top_title_img {
	width: .82rem;
	height: .82rem;
	background: #B69DFF;
	margin-right: .3rem;
	border-radius: .1rem;
}

.main_content .main_content_title .top_title .top_title_img img {
	width: .82rem;
	height: .82rem;
}

.main_content .main_content_title .top_title .top_title_text {}

.main_content .main_content_title .top_title .top_title_text .title_txt {
	width: 4.82rem;
	font-size: .32rem;
	font-weight: bold;
	color: rgba(110, 60, 255, 1);
	line-height: .45rem;
}

.main_content .main_content_title .top_title .top_title_text span {
	display: block;
	width: .88rem;
	height: .32rem;
	border: .02rem solid #9966FF;
	border-radius: .1rem;
	text-align: center;
	font-size: .22rem;
	font-weight: bold;
	color: rgba(153, 102, 255, 1);
	line-height: .32rem;
	margin-top: .19rem;
}

.main_content .main_content_title .cen_bg {
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-bottom: .01rem solid #EDEDED;
	padding: .3rem 0;
	text-align: center;
}

.main_content .main_content_title .cen_bg .cen_bg_txt p {
	font-size: .26rem;
	font-weight: 500;
	color: #B1B1C7;
	line-height: .26rem;
	margin-bottom: .2rem;
}

.main_content .main_content_title .cen_bg .cen_bg_txt span {
	font-size: .26rem;
	font-weight: 500;
	color: #63617D;
	line-height: .26rem;
	display: block;
}

.main_content .main_content_title .cen_bg i {
	width: .02rem;
	height: .3rem;
	background: rgba(237, 237, 237, 1);
}

.main_content .main_content_title .bot_bg {
	margin-top: .3rem;
}

.main_content .main_content_title .bot_bg p {
	font-size: .26rem;
	font-weight: 500;
	color: #63617D;
	line-height: .39rem;
}

.main_content .main_content_title .bot_bg p i {
	font-size: .26rem;
	font-weight: 500;
	color: #6E3CFF;
	line-height: .39rem;
}


/* 头部标题部分结束*/


/*基本信息部分*/

.main_content .content_list {
	background: rgba(255, 255, 255, 1);
	box-shadow: 0 .04rem .17rem .03rem rgba(234, 234, 234, 0.35);
	border-radius: .2rem;
	margin-top: .2rem;
}

.main_content .content_list h2 {
	font-size: .3rem;
	font-weight: bold;
	color: #63617D;
	line-height: .32rem;
	padding: .28rem .4rem;
	border-bottom: .01rem solid #EDEDED;
}

.main_content .content_list .content_list_menu {
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	padding: .46rem .60rem .3rem .60rem;
	border-top: .01rem solid #EDEDED;
}


/*
.main_content .content_list .content_list_menu:nth-of-type(1) {
	border-top: none;
}

.main_content .content_list .content_list_menu .list_menu {
	margin-left: .4rem;

}
.main_content .content_list .content_list_menu .list_menu:nth-of-type(1) {
	margin-left: 0;
}
*/

.main_content .content_list .content_list_menu .menu_img {
	width: .5rem;
	height: .5rem;
	/*background: #97B2FF;*/
	margin: auto;
	position: relative;
}

.main_content .content_list .content_list_menu .menu_img span {
	display: block;
	font-size: .22rem;
	font-weight: 500;
	color: #999999;
	line-height: .38rem;
	position: absolute;
	top: -.4rem;
	right: -.11rem;
}

.main_content .content_list .content_list_menu .menu_text {
	font-size: .28rem;
	font-weight: 400;
	color: #63617D;
	line-height: .28rem;
	margin-top: .2rem;
}

.main_content .content_list .content_list_menu .menu_text1 {
	font-size: .28rem;
	font-weight: 400;
	color: #B1B1C7;
	line-height: .28rem;
	margin-top: .2rem;
}

.main_content .content_list .com_title {
	display: flex;
	justify-content: space-between;
	padding: .28rem .4rem;
	border-bottom: .01rem solid #EDEDED;
}

.main_content .content_list .com_title div:nth-of-type(1) {
	font-size: .30rem;
	font-weight: bold;
	color: #63617D;
	line-height: .32rem;
}

.main_content .content_list .com_title div:nth-of-type(2) {
	font-size: .28rem;
	font-weight: 500;
	color: #6E3CFF;
	line-height: .32rem;
}

.main_content .content_list .com_list_li {
	padding: 0 .4rem;
}

.main_content .content_list .com_list_li ul li {
	padding: .4rem 0;
	border-bottom: .01rem solid #EDEDED;
}

.main_content .content_list .com_list_li ul li:nth-last-of-type(1) {
	border-bottom: none;
}

.main_content .content_list .com_list_li ul li .com_list_title {
	display: flex;
	justify-content: space-between;
}

.main_content .content_list .com_list_li ul li .com_list_title .com_list_title_left {}

.main_content .content_list .com_list_li ul li .com_list_title .img {
	width: .70rem;
	height: .70rem;
}

.main_content .content_list .com_list_li ul li .com_list_title .img img {
	width: .70rem;
	height: .70rem;
}

.main_content .content_list .com_list_li ul li .com_neme {
	margin-left: .3rem;
	margin-top: .25rem;
}

.main_content .content_list .com_list_li ul li .com_neme h3 {
	font-size: .3rem;
	font-weight: 500;
	color: #63617D;
	line-height: .32rem;
}

.main_content .content_list .com_list_li ul li .com_list_title_right {
	margin-top: .43rem;
}

.com_list_li ul li .com_list_title_right .right_img_l {}

.com_list_li ul li .com_list_title_right .right_img_l span {
	display: block;
	float: left;
}

.com_list_li ul li .com_list_title_right .right_img_l span:nth-of-type(1) {
	font-size: .22rem;
	font-weight: 400;
	color: #9A9A9A;
	line-height: .34rem;
}

.main_content .content_list .com_list_li ul li .com_list_title_right .right_img_l p {
	font-size: .22rem;
	font-weight: 400;
	color: #9A9A9A;
	line-height: .32rem;
}

.com_list_li ul li .com_list_title_right .right_img_l span:nth-of-type(2) {
	width: .44rem;
	height: .34rem;
	margin-right: .16rem;
	margin-left: .16rem;
}

.com_list_li ul li .com_list_title_right .right_img_r span {
	display: block;
	float: left;
}

.com_list_li ul li .com_list_title_right .right_img_r span:nth-of-type(1) {
	font-size: .22rem;
	font-weight: 400;
	color: #9A9A9A;
	line-height: .34rem;
}

.com_list_li ul li .com_list_title_right .right_img_r span:nth-of-type(2) {
	width: .44rem;
	height: .34rem;
	margin-right: .16rem;
	margin-left: .16rem;
}

.com_list_li ul li .com_list_txt {
	font-size: .28rem;
	font-weight: 500;
	color: #666666;
	line-height: .4rem;
	margin-top: .4rem;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}


/*信息详情页（企业详请页）样式结束*/


/*工商信息页*/


/*招聘信息*/


/*对外投资*/

.search_basic,
.search_job_offers {
	padding: .3rem;
}

.search_basic table {
	width: 100%;
	border-right: .01rem solid #e6e6e6;
	border-bottom: .01rem solid #e6e6e6;
}

.search_basic table tr td {
	border-left: .01rem solid #e6e6e6;
	border-top: .01rem solid #e6e6e6;
	text-align: center;
	padding: .25rem .08rem;
}

.search_basic table tr td:nth-of-type(1) {
	background: #F0EFFF;
	font-size: .26rem;
	font-weight: 500;
	color: #63617D;
	line-height: .32rem;
}

.search_basic table tr td:nth-of-type(2) {
	font-size: .24rem;
	font-weight: 500;
	color: #63617D;
	line-height: .32rem;
}

.search_job_offers table {
	width: 100%;
	border-right: .01rem solid #e6e6e6;
	border-bottom: .01rem solid #e6e6e6;
}

.search_job_offers table tr td {
	font-size: .24rem;
	font-weight: 500;
	color: #63617D;
	line-height: .32rem;
}

.search_job_offers table tr td {
	border-left: .01rem solid #e6e6e6;
	border-top: .01rem solid #e6e6e6;
	text-align: center;
	padding: .25rem .08rem;
}

.search_job_offers table tr td:nth-of-type(1) {
	background: #F0EFFF;
}

.search_job_offers table {
	margin-top: .2rem;
}

.search_job_offers table:nth-of-type(1) {
	margin-top: 0;
}


/*新闻资讯页*/

.search_news {
	padding: 0 .3rem;
}

.search_news .search_news_list ul li {
	border-bottom: .01rem solid #EEEEEE;
	padding: .4rem 0 .21rem 0;
	position: relative;
}

.search_news .search_news_list ul li .search_news_p {
	font-size: .24rem;
	font-weight: 500;
	color: rgba(102, 102, 102, 1);
	line-height: .30rem;
	margin-bottom: .29rem;
}

.search_news_list_title {}

.news_txt {
	width: 100%;
	overflow: hidden;
	float: left;
	margin-bottom: .54rem
}

.news_txt a {
	font-size: .28rem;
	font-weight: bold;
	color: rgba(69, 69, 69, 1);
	line-height: .40rem;
}

.search_news_list_title p {
	font-size: .28rem;
	font-weight: bold;
	color: rgba(69, 69, 69, 1);
	line-height: .40rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.search_news_list_title .news_time {
	font-size: .22rem;
	font-weight: 500;
	color: rgba(102, 102, 102, 1);
	line-height: .30rem;
	display: block;
	margin-top: .05rem
}

.search_news_list_title .news_img {
	width: 2.16rem;
	height: 1.4rem;
	float: right;
}

.search_news_list_title .news_img img {
	width: 2.16rem;
	height: 1.4rem;
	border-radius: .1rem;
}


/*新闻资讯详情*/

.seach_news_details {
	padding: 0 .3rem .3rem;
}


/*工商信息页*/


/*信息查询列表页*/


/*信息查询列表页*/


/*公司评价*/

.com_appraisal_nex h2 {
	font-size: .34rem;
	font-weight: bold;
	color: rgba(99, 97, 125, 1);
	line-height: .4rem;
	margin-top: .15rem;
	margin-bottom: .37rem;
}

.com_appraisal_nex ul li {
	padding: .4rem;
}

.com_appraisal_nex .com_appraisal_nex_text {
	border: .01rem solid rgba(221, 221, 221, 1);
	box-shadow: 0 0 .01rem 0 rgba(0, 0, 0, 0.1);
	border-radius: .1rem;
	padding: 0.3rem;
	min-height: 7rem;
	font-size: .24rem;
	font-weight: 500;
	color: rgba(99, 97, 125, 1);
	line-height: .34rem;
	margin-top: .3rem;
	letter-spacing: 0.01rem;
}

.comAppraisalBtn {
	height: .88rem;
	margin-top: .5rem;
	margin-bottom: 1rem;
}

.com_appraisal_btn_top {
	width: 1.6rem;
	height: .88rem;
	font-size: .3rem;
	font-weight: 400;
	color: #414140;
	line-height: .88rem;
	text-align: center;
	background: #FFFFFF;
	border: .01rem solid rgba(188, 187, 193, 1);
	border-radius: .2rem;
}

.com_appraisal_btn_top.on {
	background: #F3F3FF;
	color: #414140;
	background-image: url(/HRzhicha/public/images/img/land_icon_07.png);
	background-repeat: no-repeat;
	background-size: 18%;
	background-position: right .2rem center;
	border: .01rem solid rgba(188, 187, 193, 1);
}

.com_appraisal_btn {
	width: 5.1rem;
	height: .88rem;
	background: #6E3CFF;
	border-radius: .2rem;
	text-align: center;
	line-height: .88rem;
	font-size: .3rem;
	font-weight: 500;
	color: #FFFFFF;
}


/*写点评*/

.com_appraisal_nex .com_app_center {
	background: #FFFFFF;
	border-radius: .2rem;
	box-shadow: 0 0 .03rem 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.com_appraisal_nex .com_app_center p {
	font-size: .28rem;
	font-weight: bold;
	color: rgba(99, 97, 125, 1);
	line-height: .32rem;
	padding: .5rem 0 0rem .4rem;
}

.com_appraisal_nex .com_app_center .com_app_center_text {
	padding: .4rem;
	overflow: hidden;
}

.com_appraisal_nex .com_app_center .com_app_center_text .com_app_padding {}

.com_appraisal_nex .com_app_center .com_app_center_text .textarea {
	width: 100%;
	min-height: 7rem;
	resize: none;
	padding: 0.3rem;
	font-size: .24rem;
	outline: none;
	color: #999999;
	line-height: .34rem;
	box-sizing: border-box;
	border: .01rem solid #D3D3D3;
	box-shadow: 0 .04rem .17rem .03rem rgba(234, 234, 234, 0.35);
	border-radius: .2rem;
}

.com_appraisal_nex .com_app_center .com_app_center_text .textarea::-webkit-input-placeholder {
	color: #B1B1C7;
}

.com_appraisal_protocol {
	width: 100%;
	margin-top: .8rem;
	display: flex;
	align-items: center;
	overflow: hidden;
}

.com_appraisal_protocol div {
	width: 0.24rem;
	height: 0.24rem;
	box-sizing: border-box;
	border: 0.02rem solid #6e3cff;
	border-radius: 50%;
}

.com_appraisal_protocol div.on {
	background-image: url(/HRzhicha/public/images/img/land_icon_07.png);
	background-repeat: no-repeat;
	background-size: 100%;
	border: none
}

.com_appraisal_protocol p {
	margin-left: .19rem;
	font-size: .24rem;
	font-weight: 500;
	color: rgba(153, 153, 153, 1);
	line-height: .44rem;
}

.com_appraisal_protocol p span {
	color: #15c2f5;
}


/*去点评-未填写*/

.seach_appraisal {
	overflow: hidden;
	border-radius: .2rem;
	max-height: 4.5rem;
	position: absolute;
	top: 3rem;
	right: 0.6rem;
	left: .6rem;
	overflow-y: auto;
	box-shadow: 0 0 .01rem 0px rgba(0, 0, 0, 0.1);
}

.seach_appraisal ul {
	padding: 0 .3rem;
	background: #FFFFFF;
	border-radius: .2rem;
}

.seach_appraisal ul li {
	height: .72rem;
	font-size: .24rem;
	color: #63617D;
	line-height: .72rem;
	border-bottom: .01rem solid #EEEEEE;
}

.seach_appraisal ul li:nth-last-of-type(1) {
	border-bottom: none;
}

.com_appraisal_nex1 {
	overflow: hidden;
	padding: 0 .3rem .3rem 0.3rem;
	box-sizing: border-box;
}

.appraisal_notxt_center .appraisal_notxt_center_inp {
	padding: .4rem .3rem;
	background: #FFFFFF;
	box-shadow: 0 .04rem .17rem .03rem rgba(234, 234, 234, 0.35);
	border-radius: .2rem;
}

.appraisal_notxt_center .appraisal_notxt_center_inp p {
	font-size: .32rem;
	font-weight: bold;
	color: #63617D;
	line-height: .32rem;
}

.appraisal_notxt_center .appraisal_notxt_center_inp .inpBox {
	width: 100%;
	height: .88rem;
	border: none;
	margin-top: .3rem;
	color: rgba(177, 177, 199, 1);
	float: left;
}

.appraisal_notxt_center .appraisal_notxt_center_inp .inptxt {
	width: 6rem;
	height: .88rem;
	border: none;
	padding-left: .3rem;
	font-size: .26rem;
	font-weight: 500;
	color: #63617D;
	line-height: .26rem;
	float: left;
	background: #F8F8F8;
	border-radius: .2rem;
}

.appraisal_notxt_center .appraisal_notxt_center_inp .inptxt::-webkit-input-placeholder {
	color: #B1B1C7;
	font-weight: 500;
}

.textareaDiv {
	/* width: 100%;*/
	height: auto;
	margin-top: .2rem;
	padding: .4rem .3rem .3rem;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0 .04rem .17rem .03rem rgba(234, 234, 234, 0.35);
	border-radius: .2rem;
}

.textareaDiv p {
	font-size: .32rem;
	font-weight: bold;
	color: rgba(99, 97, 125, 1);
	line-height: .32rem;
}

.textareaDiv .com_app_center_text {
	padding-top: .4rem;
	overflow: hidden;
}

.textareaDiv .com_app_center_text .textarea {
	width: 100%;
	/*height: 3.5rem;*/
	resize: none;
	padding: 0.3rem;
	font-size: .24rem;
	outline: none;
	color: #63617D;
	line-height: .32rem;
	box-sizing: border-box;
	border: none;
	box-shadow: 0 0.04rem 0.17rem 0.03rem rgba(234, 234, 234, 0.35);
	border-radius: .2rem;
	background: #F8F8F8;
	min-height: 3.2rem;
	/*overflow: hidden;*/
	font-weight: 500;
}

.textareaDiv .com_app_center_text .textarea::-webkit-input-placeholder {
	color: #B1B1C7;
	font-weight: 500;
}


/*协议内容*/

.protocol_appeal {
	overflow: hidden;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
	z-index: 9999999;
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.protocol_appeal .pro_appeal_mid {
	overflow: hidden;
	padding: .7rem 0 .5rem 0;
	box-sizing: border-box;
	background: #fff;
	border-radius: .2rem;
	height: 70%;
	width: 6.9rem;
	padding-top: 0.2rem;
	margin-top: -1rem;
}

.protocol_appeal .protocol_detail {
	margin-left: .5rem;
	margin-right: .5rem;
}

.protocol_appeal .protocol_detail .protocol_detail_txt {
	font-size: .4rem;
	font-weight: bold;
	color: #000000;
	text-align: center;
	padding-bottom: .3rem;
}

.protocol_appeal .protocol_detail .protocol_text1 {
	font-size: .26rem;
	font-weight: 400;
	color: #000000;
}


/*.protocol_appeal .protocol_detail .protocol_text1 p:nth-last-child(1){
	padding-bottom: 2rem;
}*/

.del_img {
	width: .72rem;
	height: .72rem;
	position: absolute;
	bottom: 1rem;
}


/*我的点评*/

.myAppraisal {
	padding-top: .4rem;
}

.myAppraisalbox {
	position: absolute;
	width: 100%;
	padding: 0 .3rem;
	background: #FFFFFF;
}

.myAppraisalbox ul li {
	position: relative;
	padding-bottom: .2rem;
	border-bottom: .01rem solid #EEEEEE;
}

.myAppraisalbox ul li:nth-last-child(1) {
	border-bottom: none;
}

.myAppraisal {}

.myAppraisalImg {
	width: .8rem;
	height: .8rem;
}

.myAppraisaltxt {
	margin-left: .15rem;
}

.myAppraisaltxt p {
	width: 4rem;
	overflow: hidden;
	white-space: nowrap;
	font-size: .3rem;
	font-weight: bold;
	color: rgba(99, 97, 125, 1);
	line-height: .3rem;
	margin-bottom: .24rem;
}

.myAppraisaltxt .myAppraisalTime {
	display: block;
	font-size: .24rem;
	font-weight: 500;
	color: #C4C4CF;
	line-height: .3rem;
}

.app_bot {
	font-size: .28rem;
	font-weight: 500;
	color: rgba(99, 97, 125, 1);
	line-height: .3rem;
	margin-top: .3rem;
}

.bot_tit {
	font-size: .24rem;
	font-weight: 500;
	line-height: .24rem;
	position: absolute;
	right: 0.4rem;
	top: 0.4rem;
}

.bot_tit_red {
	color: rgba(248, 93, 122, 1);
}

.bot_tit_yellow {
	color: #FBA529;
}

.bot_tit_blue {
	color: #6E3CFF;
}


/*我的点评-详情*/

.appeal_mydetail {
	/*width: 100%;*/
	height: auto;
	background: #FFFFFF;
	padding: .5rem .4rem .4rem;
	/*margin-top: .42rem;*/
	border-radius: .2rem;
}

.appeal_mydetail_img {
	height: .6rem;
}

.appeal_mydetail_img .round {
	width: .6rem;
	height: .6rem;
	border-radius: 50%;
}

.appeal_mydetail_img .round img {
	width: .6rem;
	height: .6rem;
}

.appeal_mydetail_img .appeal_txt {
	font-size: .28rem;
	font-weight: bold;
	color: rgba(99, 97, 125, 1);
	line-height: .6rem;
	margin-left: .3rem;
}

.appeal_mydetail_img .appeal_time {
	font-size: .24rem;
	font-weight: 500;
	color: #C4C4CF;
	line-height: .6rem;
}

.appeal_mydetail .mydetail_text {
	border: .01rem solid rgba(221, 221, 221, 1);
	box-shadow: 0 0 .01rem 0 rgba(0, 0, 0, 0.1);
	border-radius: .02rem;
	min-height: 5.3rem;
	padding: .5rem .3rem .5rem .3rem;
	font-size: .24rem;
	font-weight: 500;
	color: rgba(99, 97, 125, 1);
	line-height: .38rem;
	margin-top: .3rem;
}


/*企业个人负面/正面信息详情*/

.fade_list1 ul li .num {
	font-weight: bold;
}

.com_negative {}

.com_negative .fade_list1 ul li .users .fr .name {
	margin-bottom: 0.27rem;
}

.com_negative .fade_list1 ul li .users .fr .name p {
	line-height: .3rem;
	font-weight: bold;
}

.com_negative .ssinfo .text_gs div p {
	margin-bottom: .23rem;
}

.com_negative .ssinfo .text_gs .text_gsp {
	border-bottom: .01rem solid #EEEEEE;
}

.com_negative .ssinfo .text_gs .text_gsp span {
	padding-bottom: .3rem;
}

.com_negative .ssinfo .text_gs .text_gspt {
	padding-top: .3rem;
}

.com_negative .fade_list1 ul li .num p {}

.mos .nrs span {
	color: #63617D;
}


/*申诉页*/

.ul_costs li {
	width: 2.8rem!important;
	height: .88rem;
	color: #6E3CFF;
	box-shadow: none!important;
}

.ul_costs li p {
	font-size: .24rem;
	line-height: .24rem;
}

.ssinfo {
	margin-bottom: .6rem;
}

.ssinfo textarea {
	height: 1.04rem;
}

.conts {
	margin-top: 0;
	margin-bottom: 0;
}


/*处理申诉弹窗*/

.pro_appeal {
	overflow: hidden;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
	z-index: 9999999;
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.pro_appeal .pro_appeal_mid {
	/*	padding: .7rem 0 .5rem 0;*/
	box-sizing: border-box;
	background: #fff;
	border-radius: .2rem;
}

.pro_appeal .pro_appeal_mid p {
	font-size: .22rem;
	color: #000000;
	font-weight: 500;
	line-height: 1rem;
	text-align: center;
	border-bottom: .01rem solid #D6D6D6;
}

.pro_appeal .pro_appeal_mid .appeal_btn_grow {
	overflow: hidden;
	width: 4.6rem;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.pro_appeal .pro_appeal_mid .appeal_btn_grow div {
	width: 49%;
	height: .8rem;
	color: #6E3CFF;
	font-size: .26rem;
	text-align: center;
	line-height: .8rem;
}

.pro_appeal .pro_appeal_mid .appeal_btn_grow div:nth-of-type(1) {
	border-right: .012rem solid #D6D6D6;
}


/*我的申诉-收到的申诉*/

.layui-tab {
	margin: 0;
}

.layui-tab-title {
	border: none;
	/*margin-left: .45rem;*/
	margin: .3rem 0 .3rem .45rem;
}

.layui-tab-title li {
	font-size: .32rem;
	font-weight: bold;
	color: #B3B2C0;
	/*line-height: .03rem;*/
	margin-right: .56rem;
}

.layui-tab-brief>.layui-tab-title .layui-this {
	color: #383552;
}

.layui-tab-brief>.layui-tab-title .layui-this:after {
	width: 2rem;
	/*height: .06rem;*/
	border-radius: .03rem;
	border-bottom: .06rem solid #6E3CFF;
	margin-left: .25rem;
}

.layui-tab-content {
	padding: 0;
}

.fade_list_users {}

.fade_list_users ul li .users {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	/* align-items: center;
    justify-content: space-between;*/
	margin-top: .37rem;
}

.fade_list_users ul li .users .ueser_txtl {
	overflow: hidden;
}

.fade_list_users ul li .users .ueser_txtl p {
	/*overflow: hidden;*/
	font-size: .3rem;
	font-weight: bold;
	color: #63617D;
	line-height: .3rem;
}

.fade_list_users ul li .users .ueser_txtl p:nth-of-type(2) {
	font-size: .26rem;
	font-weight: 500;
	color: #63617D;
	line-height: .3rem;
	margin-top: .28rem;
	margin-bottom: .3rem;
}

.fade_list_users ul li .users .ueser_txtl .btn_bg {
	width: 1.4rem;
	height: .44rem;
	background: #FDF8F5;
	border-radius: .1rem;
	font-size: .22rem;
	font-weight: 500;
	color: #FF6633;
	line-height: .4rem;
	text-align: center;
	margin-bottom: .24rem;
}

.fade_list_users ul li .users .ueser_txtl .btn_bgl {
	width: 1.4rem;
	height: .44rem;
	background: #E7E7FF;
	border-radius: .1rem;
	font-size: .22rem;
	font-weight: 500;
	color: #6E3CFF;
	line-height: .4rem;
	text-align: center;
	margin-bottom: .2rem;
}

.fade_list_users ul li .users .ueser_time .deal_with {
	min-width: 1.2rem;
	padding: 0 .15rem;
	border: .02rem solid #C4C4CF;
	box-sizing: border-box;
	border-radius: .1rem;
	font-size: .22rem;
	font-weight: 500;
	color: #63617D;
	line-height: .6rem;
	text-align: center;
}

.fade_list_users ul li .users .ueser_time .deal_withl {
	min-width: 1.2rem;
	height: .6rem;
	border: .02rem solid #C4C4CF;
	box-sizing: border-box;
	border-radius: .1rem;
	font-size: .22rem;
	font-weight: 500;
	color: #C4C4CF;
	line-height: .6rem;
	text-align: center;
}

.fade_list_users ul li .users .ueser_time p {}

.fade_list_users ul li .users .refusal_for {
	width: 100%;
	padding-bottom: .6rem;
}

.fade_list_users ul li .users .refusal_for div {
	background: rgba(248, 248, 248, 1);
	box-shadow: 0 0 .01rem 0 rgba(0, 0, 0, 0.1);
	border-radius: .1rem;
	font-size: .22rem;
	font-weight: 400;
	color: rgba(99, 97, 125, 1);
	padding: .15rem .2rem;
}

.fade_list_users ul li .users .refusal_for div p {
	font-size: .22rem;
	font-weight: 400;
	color: rgba(99, 97, 125, 1);
	line-height: .4rem;
}

.fade_list_users ul li .time_tow {
	font-size: .22rem;
	font-weight: 500;
	color: rgba(196, 196, 207, 1);
	line-height: .32rem;
	position: absolute;
	right: .3rem;
	bottom: .5rem;
}

.fade_list_users ul li .posl {
	height: 0.4rem;
	text-align: center;
	position: absolute;
	right: 0.4rem;
	top: 0.3rem;
	display: flex;
	align-items: center;
}

.fade_list_users ul li .posl .dot_red {
	width: .18rem;
	height: .18rem;
	border-radius: 50%;
	background: #F85D7A;
	margin-right: .13rem;
}

.fade_list_users ul li .posl .dot_blue {
	width: .18rem;
	height: .18rem;
	border-radius: 50%;
	background: #289DDD;
	margin-right: .13rem;
}

.fade_list_users ul li .posl .dot_green {
	width: .18rem;
	height: .18rem;
	border-radius: 50%;
	background: #00B374;
	margin-right: .13rem;
}

.fade_list_users ul li .posl .dot_greenl {
	width: .18rem;
	height: .18rem;
	border-radius: 50%;
	background: #4BE1AB;
	margin-right: .13rem;
}

.fade_list_users ul li .posl .dot_yellow {
	width: .18rem;
	height: .18rem;
	border-radius: 50%;
	background: #FBA529;
	margin-right: .13rem;
}

.fade_list_users ul li .posl p {
	font-size: .2rem;
	font-weight: 500;
	color: #63617D;
	line-height: .24rem;
}


/*个人中心-我的上传-企业-全部*/

.navbar_nex {
	width: 100%;
	height: .8rem;
	overflow: hidden;
	background: #FFFFFF;
}

#topNav {
	width: 90%;
	height: .8rem;
	overflow: hidden;
	background: #FFFFFF;
	border-bottom: 1px solid #f8f8f8;
}

#topNav .swiper-slide {
	padding: 0 5px;
	/*letter-spacing: 2px;*/
	width: 2rem;
	/*text-align: center;*/
	/*margin-right:.83rem ;*/
	font-size: .26rem;
	line-height: .7rem;
	font-weight: 500;
	color: #585858;
}

#topNav .swiper-wrapper .swiper-slide.on::after {
	display: block;
}

#topNav .swiper-wrapper .swiper-slide::after {
	content: '';
	width: 0.6rem;
	height: 0.06rem;
	background: #6e3cff;
	border-radius: 0.1rem;
	position: absolute;
	bottom: 0;
	left: 0;
	display: none;
}

.up_swiper_tab {}

.posll {}

.fade_list_users ul li .posll {
	height: 0.4rem;
	text-align: center;
	position: absolute;
	right: 1.8rem;
	top: 0.3rem;
	display: flex;
	align-items: center;
}

.fade_list_users ul li .posll .dot_red {
	width: .18rem;
	height: .18rem;
	border-radius: 50%;
	background: #F85D7A;
	margin-right: .13rem;
}

.fade_list_users ul li .posll .dot_blue {
	width: .18rem;
	height: .18rem;
	border-radius: 50%;
	background: #289DDD;
	margin-right: .13rem;
}

.fade_list_users ul li .posll .dot_green {
	width: .18rem;
	height: .18rem;
	border-radius: 50%;
	background: #00B374;
	margin-right: .13rem;
}

.fade_list_users ul li .posll .dot_greenl {
	width: .18rem;
	height: .18rem;
	border-radius: 50%;
	background: #4BE1AB;
	margin-right: .13rem;
}

.fade_list_users ul li .posll p {
	font-size: .2rem;
	font-weight: 500;
	color: #63617D;
	line-height: .24rem;
}

.refusal_for_btn {
	color: #63617D;
	font-size: .22rem;
	font-weight: 500;
}

.refusal_for_btn .mit_btn {
	min-width: 1.2rem;
	height: .6rem;
	border: .02rem solid #C4C4CF;
	border-radius: .1rem;
	text-align: center;
	line-height: .6rem;
	padding: 0 .15rem;
	margin-right: .3rem;
}


/*我的查询记录*/


/*上传个人信息-未上传*/

.bgNone {
	background: none;
}

.bgNone p {
	color: #63617D;
}

.main_textarel textarea {
	color: #63617D;
}

.main_change h2 span {
	font-size: .2rem;
	color: #B1B1C7;
}

.addpic .fl {
	margin-right: .06rem;
}

.un_img_list {
	width: 100%;
	height: 2.06rem;
	border: .02rem dashed rgba(221, 221, 221, 1);
	border-radius: .1rem;
	display: flex;
	display: flex;
	align-items: center;
	justify-content: center;
}

.un_img_list {
	/*margin-left: .2rem;*/
	font-size: .3rem;
	font-weight: 500;
	color: rgba(110, 60, 255, 1);
	line-height: .24rem;
}


/*材料选择*/

.pro_fade {
	width: 100%;
}

.pro_fade .fade_boxss {
	background: #FFFFFF;
	position: absolute;
	bottom: 0;
	/*padding: 0 .3rem;*/
}

.pro_fade .fade_boxss h2 {
	font-size: .32rem;
	font-weight: 500;
	color: rgba(54, 54, 54, 1);
	text-align: center;
	/*line-height: 5.9rem;*/
	padding: .59rem 0;
}

.pro_fade .fade_boxss .btn_x {
	width: .31rem;
	height: .31rem;
	font-size: .31rem;
	position: absolute;
	top: .6rem;
	right: .36rem;
}

.pro_fade .fade_boxss ul {
	padding: 0 .28rem;
}

.pro_fade .fade_boxss ul li {
	cursor: pointer;
	overflow: hidden;
	float: left;
	width: 2.18rem;
	height: .8rem;
	background: #FAFAFA;
	border-radius: .1rem;
	border: .015rem solid #E5E5E5;
	font-size: .26rem;
	font-weight: 500;
	color: #000000;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: .15rem;
	margin-top: .24rem;
}

.pro_fade .fade_boxss ul li:nth-child(3n) {
	margin-right: 0;
}

.btn_grows {
	width: 100%;
	height: .88rem;
	background: #6E3CFF;
	margin-top: .6rem;
	text-align: center;
}

.btn_grows a {
	width: 100%;
	color: #FFFFFF;
	font-size: .32rem;
	font-weight: bold;
	line-height: .88rem;
}

.pro_fade .fade_boxss .on {
	color: #6E3CFF;
	border: .015rem solid #6E3CFF;
}


/*认证*/

.renz_fild .renz_box .fr {
	overflow: visible;
}

.no_modify {
	position: relative;
	top: .2rem;
	left: -1rem;
	width: 6.2rem;
	font-size: .22rem;
	font-weight: bold;
	color: #FFFFFF;
	line-height: .32rem;
	margin-top: .2rem;
}


/*信息查询列表页*/

.enterprise_quer {
	width: 100%;
	height: 2.84rem;
	position: relative;
}

.enterprise_query img {
	width: 100%;
	height: 2.84rem;
	z-index: -10;
}

.top_header1 {
	width: 100%;
	background: none;
	padding-top: 0;
	position: absolute;
	top: 2.4rem;
	/*left: .3rem;*/
}

.top_header1 .main_seach {
	width: 6.9rem;
	height: .8rem;
}

.top_header1 .main_seach .fl div {
	width: 6.9rem;
	height: .8rem;
	border-radius: .36rem;
}

.top_header1 .main_seach .fl {
	width: 6.9rem;
	height: .8rem;
	background: none;
}

.top_header1 .main_seach .fl .in1 {
	width: 6.9rem;
	height: .8rem;
	padding-left: .76rem;
	font-size: .28rem;
	font-weight: 400;
	color: #63617D;
	line-height: .4rem;
	background: rgba(248, 248, 255, 1);
	/*box-shadow: 0 .04rem .06rem 0 rgba(234, 234, 234, 0.6);*/
	border-radius: .36rem;
}

.top_header1 .main_seach .fl .in1::-webkit-input-placeholder {
	color: #AEAEC0;
}

.top_header1 .main_seach #xImg1 {
	position: absolute;
	left: .3rem;
	top: 50%;
}


/*搜索历史部分*/

.central_enterprise {
	/*height: 6.26rem;*/
	background: #FFFFFF;
}

.central_history {
	padding: .3rem .3rem .54rem .3rem;
	background: #FFFFFF;
}

.central_history .history_delete {
	margin-top: .34rem;
}

.central_history .history_delete_l {
	font-size: .28rem;
	font-weight: 500;
	color: #63617D;
	line-height: .3rem;
}

.central_history .history_delete_r img {
	width: .26rem;
	height: .28rem;
}

.central_history .history_list {
	padding-top: .3rem;
}

.central_history .history_list span {
	font-size: .26rem;
	font-weight: 400;
	color: #63617D;
	line-height: .3rem;
	padding: .19rem .3rem;
	background: #F5F4F7;
	border-radius: .3rem;
	float: left;
	/*width:33%;*/
	margin: .15rem 0 .15rem .2rem;
}

.central_history .history_list .mt {
	/*margin-bottom: .3rem;*/
}


/*.central_history .history_list span:nth-of-type(1) {
	margin-left: 0rem;
}

.central_history .history_list span:nth-of-type(4) {
	margin-left: 0rem;
}*/

.history_real_name {
	height: 1.8rem;
	width: 100%;
	margin-top: .4rem;
}

.history_real_name img {
	height: 1.8rem;
}

.news_swiper {
	padding: 0 .3rem .3rem .3rem;
}

.news_swiper .news_title {
	width: 1.5rem;
	margin-top: .08rem;
	float: left;
}

.news_swiper .news_title span {
	font-size: .24rem;
	font-weight: bold;
	color: #63617D;
	line-height: .24rem;
	float: left;
}

.news_swiper .news_title img {
	width: .32rem;
	height: .28rem;
	float: left;
	margin-left: .05rem;
}

.news_swiper .news_list {
	height: .4rem;
	overflow: hidden;
}

.news_swiper .news_list .swiper-container {
	height: .4rem;
}

.news_swiper .news_list .swiper-slide {
	height: .4rem;
	font-size: .24rem;
	font-weight: 400;
	color: #63617D;
	line-height: .4rem;
	margin-left: .1rem;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	white-space: nowrap;
}

.main_content1 {
	background: #ffffff;
	padding-top: 0;
	margin-top: .2rem;
}

.main_content1 h2 {
	font-size: .32rem;
	font-weight: bold;
	color: #010101;
	line-height: .3rem;
	padding: .4rem 0;
}


/*搜索历史部分*/

.com_main_listr_two ul li {
	padding: .4rem;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0 .04rem .17rem .03rem rgba(234, 234, 234, 0.7);
	border-radius: .2rem;
	margin-bottom: .1rem;
}

.com_main_listr_two li .business_top {
	width: 100%;
}

.com_main_listr_two ul li .business_top .business_top_img {
	width: .6rem;
	height: .6rem;
	border-radius: .05rem;
	margin-right: .25rem;
}

.com_main_listr_two ul li .business_top .business_top_img img {
	width: .6rem;
	height: .6rem;
}

.com_main_listr_two ul li .business_top_title {
	width: 5.2rem;
	position: relative;
}

.com_main_listr_two ul li .business_top_title p {
	width: 4rem;
	font-size: .32rem;
	font-weight: 600;
	color: rgba(99, 97, 125, 1);
	line-height: .4rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	/*letter-spacing: 1px;*/
}

.com_main_listr_two ul li .business_top_title span {
	width: .88rem;
	display: block;
	font-size: .22rem;
	font-weight: bold;
	color: #9966FF;
	line-height: .36rem;
	border: .02rem solid rgba(153, 102, 255, 1);
	border-radius: .1rem;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
}

.com_main_listr_two ul li .business_bottom {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-top: .3rem;
	text-align: center;
}

.com_main_listr_two ul li .business_bottom .business_bottom_txt {}

.com_main_listr_two ul li .business_bottom .business_bottom_txt p {
	font-size: .26rem;
	font-weight: 500;
	color: #B1B1C7;
	line-height: .26rem;
	margin-bottom: .2rem;
}

.com_main_listr_two ul li .business_bottom .business_bottom_txt span {
	font-size: .26rem;
	font-weight: 500;
	color: #63617D;
	line-height: .26rem;
	display: block;
}

.com_main_listr_two ul li i {
	width: .02rem;
	height: .3rem;
	background: rgba(237, 237, 237, 1);
}

.main_seach .seachCom div::after {
	display: none;
}


/*重写公司点评页面*/

.company_review_padding {
	padding: .4rem;
	background: #FFFFFF;
}

.company_review_padding .company_review h2 {
	font-size: .34rem;
	font-weight: bold;
	color: #63617D;
	line-height: .32rem;
	margin: .1rem 0 .4rem 0;
}

.company_review_img {
	width: 100%;
}

.company_review_img span {
	display: block;
}

.company_review_img .review_img img {
	width: .6rem;
	height: .6rem;
}

.company_review_img .review_text {
	font-size: .3rem;
	font-weight: 500;
	color: #63617D;
	line-height: .6rem;
	margin-left: .3rem;
}

.company_review_text {
	margin-top: .41rem;
	margin-bottom: .51rem;
	font-size: .28rem;
	font-weight: 500;
	color: rgba(102, 102, 102, 1);
	line-height: .4rem;
}


/*评论详情页面的回复弹窗*/

.reply_layer_protocol_appeal {
	background: rgba(0, 0, 0, .6);
	z-index: 9999999999;
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
}

.reply_layer {
	width: 100%;
	border-radius: .2rem .2rem 0 0;
	background: #FFFFFF;
	position: absolute;
	left: 0;
	bottom: 0;
}

.reply_layer .reply_layer_head {
	padding: .38rem .4rem .28rem .4rem;
	border-bottom: .01rem solid rgba(221, 221, 221, 1);
}

.reply_layer .reply_layer_head .reply_layer_head_delete {
	font-size: .32rem;
	font-weight: 500;
	color: #63617D;
	line-height: .32rem;
	display: block;
}

.reply_layer .reply_layer_head .reply_layer_head_release {
	font-size: .32rem;
	font-weight: 500;
	color: rgba(110, 60, 255, 1);
	line-height: .32rem;
	display: block;
}

.reply_layer .reply_layer_content {
	padding: .4rem;
}

.reply_layer .reply_layer_content p {
	font-size: .28rem;
	font-weight: 400;
	color: #999999;
	line-height: .32rem;
	margin-bottom: .4rem;
}

.reply_layer .reply_layer_content p span {
	margin-left: .3rem;
}

.reply_layer_content .textarea {
	width: 100%;
	outline: none;
	resize: none;
	/*padding: 0.3rem;*/
	font-size: .28rem;
	font-weight: 500;
	color: rgba(102, 102, 102, 1);
	line-height: .4rem;
	box-sizing: border-box;
	border: none;
	background: #FFFFFF;
	min-height: 1.1rem;
}

.reply_layer_content .textarea::-webkit-input-placeholder {
	color: #999999;
}


/*我的点评*/

.my_review_padding {
	padding-bottom: .6rem;
}

.my_review_ul li {
	margin-bottom: .2rem;
	background: #FFFFFF;
	padding: .5rem .4rem;
}

.my_review_img {}

.my_review_img img {
	width: .8rem;
	height: .8rem;
}

.my_review_text {
	display: block;
	margin-left: .3rem;
}

.my_review_text .my_review_text_title {
	width: 5.5rem;
	font-size: .3rem;
	font-weight: bold;
	color: #63617D;
	line-height: .3rem;
}

.my_review_text .my_review_text_time {
	font-size: .24rem;
	font-weight: 500;
	color: #C4C4CF;
	line-height: .24rem;
	margin-top: .28rem;
}


/*事件、点评、点赞*/

.company_review_time {}

.company_review_time .company_review_time_l {
	font-size: .24rem;
	font-weight: 500;
	color: #9A9A9A;
	line-height: .34rem;
}

.company_review_time .company_review_time_r {}

.company_review_time .company_review_info span:nth-of-type(1) {
	font-size: .22rem;
	font-weight: 400;
	color: #9A9A9A;
	line-height: .34rem;
	margin-right: .16rem;
	margin-left: .31rem;
	float: left;
	margin-top: .1rem;
}

.company_review_time .company_review_info span:nth-of-type(2) {
	width: .44rem;
	height: .34rem;
	float: left;
}

.company_review_time .company_review_like span:nth-of-type(1) {
	font-size: .22rem;
	font-weight: 400;
	color: #9A9A9A;
	line-height: .34rem;
	margin-right: .16rem;
	margin-left: .31rem;
	float: left;
	margin-top: .1rem;
}

.company_review_time .company_review_like span:nth-of-type(2) {
	width: .44rem;
	height: .34rem;
	float: left;
}


/*事件、点评、点赞*/


/*更多评价*/

.company_more_reviews {
	/*width: 100%;*/
	background: #FFFFFF;
	/*margin-top: .2rem;*/
	padding: .5rem .4rem 1.64rem;
}

.company_more_reviews h2 {
	font-size: .32rem;
	font-weight: bold;
	color: #63617D;
	line-height: .32rem;
}

.company_more_reviews_title {
	width: 100%;
	margin-top: .4rem;
	margin-bottom: .3rem;
}

.company_more_reviews_title .title_img {
	width: .6rem;
	height: .6rem;
	display: block;
}

.company_more_reviews_title .title_img img {
	width: .6rem;
	height: .6rem;
}

.company_more_reviews_title .title_text {
	font-size: .28rem;
	font-weight: 500;
	color: #63617D;
	line-height: .6rem;
	display: block;
	margin-left: .3rem;
}

.company_more_reviews_list .more_reviews_secondary {
	margin-left: .93rem;
}

.company_more_reviews_list .more_reviews_secondary .more_reviews_secondary_text {
	font-size: .26rem;
	font-weight: 500;
	color: #666666;
	line-height: .36rem;
	margin-bottom: .42rem;
}

.company_more_reviews_list .more_reviews_secondary .more_reviews_reply {
	/*width: 100%;*/
	background: #F8F8F8;
	border-radius: .1rem;
	padding: .3rem;
	margin-top: .33rem;
}

.more_reviews_secondary .more_reviews_reply .more_reviews_reply_txt {
	font-size: .26rem;
	font-weight: 500;
	color: #999999;
	line-height: .32rem;
}

.more_reviews_secondary .more_reviews_reply .more_reviews_reply_txt i {
	color: #9875FE;
}

.more_reviews_secondary .more_reviews_reply .more_reviews_reply_num {
	font-size: .26rem;
	font-weight: 500;
	color: #9875FE;
	line-height: .32rem;
	margin-top: .3rem;
}


/*底部输入框*/

.review_bottom {
	width: 100%;
	height: .98rem;
	border-top: .01rem solid #E8E8E8;
	overflow: hidden;
	background: #FFFFFF;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 9999;
}

.review_bottom .review_bottom_cen {
	padding: 0 .3rem;
}

.review_bottom .review_bottom_cen_l {
	width: 5.56rem;
	height: .72rem;
	padding: .13rem 0;
}

.review_bottom .review_bottom_cen_l input {
	width: 5.24rem;
	height: .72rem;
	padding-left: .32rem;
	border: none;
	float: left;
	background: #F0F0F0;
	border-radius: .36rem;
	font-size: .26rem;
	font-weight: 400;
	color: #666666;
	line-height: .72rem;
	box-sizing: border-box;
}

.review_bottom .review_bottom_cen_r {
	margin-top: .28rem;
	margin-right: .13rem;
}

.review_bottom .review_bottom_cen_r img {
	width: .49rem;
	height: .46rem;
}

.review_bottom1 {
	width: 100%;
	height: .98rem;
	border-top: .01rem solid #E8E8E8;
	overflow: hidden;
	background: #FFFFFF;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 9999;
}

.review_bottom1 .review_bottom_cen {
	padding: 0 .3rem;
}

.review_bottom1 .review_bottom_cen_l {
	width: 100%;
	height: .72rem;
	padding: .13rem 0;
}

.review_bottom1 .review_bottom_cen_l input {
	/*width: 6.58rem;*/
	width: 95%;
	height: .72rem;
	padding-left: .32rem;
	border: none;
	float: left;
	background: #F0F0F0;
	border-radius: .36rem;
	font-size: .26rem;
	font-weight: 400;
	color: #666666;
	line-height: .24rem;
	box-sizing: border-box;
}

.review_bottom1 .review_bottom_cen_r {
	margin-top: .28rem;
	margin-right: .13rem;
}

.review_bottom1 .review_bottom_cen_r img {
	width: .49rem;
	height: .46rem;
}


/*底部输入框*/


/*重写公司点评页面*/


/*公司点评-写点评*/

.company_write_review {
	padding: .5rem .4rem;
}

.company_write_review_content {}

.company_write_review_content h2 {
	font-size: .3rem;
	font-weight: bold;
	color: #63617D;
	line-height: .32rem;
	margin-bottom: .41rem;
}

.company_write_review_content .textarea {
	width: 100%;
	resize: none;
	outline: none;
	padding: 0.3rem;
	font-size: .36rem;
	font-weight: 500;
	color: #63617D;
	line-height: .36rem;
	box-sizing: border-box;
	border: .01rem rgba(221, 221, 221, 1);
	border-style: solid;
	border-radius: .2rem;
	min-height: 5rem;
	-webkit-appearance: none;
	appearance: none;
}

.company_write_review_content .textarea::-webkit-input-placeholder {
	font-size: .26rem;
	font-weight: 500;
	color: #999999;
	line-height: .36rem;
}

.anonymous_btn {
	width: 1.6rem;
	height: .6rem;
	font-size: .26rem;
	font-weight: 400;
	color: #414140;
	line-height: .6rem;
	text-align: center;
	background: #FFFFFF;
	border: .01rem solid rgba(188, 187, 193, 1);
	border-radius: .3rem;
}

.anonymous_btn span {
	line-height: .6rem;
}

.anonymous_btn.on {
	background-image: url(/HRzhicha/public/images/img/sel1.png);
	background-repeat: no-repeat;
	background-size: 18%;
	background-position: left .2rem center;
}

.company_write_btn {}

.company_write_nm1 {
	width: 6.7rem;
	height: .88rem;
	background: #6E3CFF;
	border-radius: .2rem;
	text-align: center;
	line-height: .88rem;
	font-size: .3rem;
	font-weight: 500;
	color: #FFFFFF;
}

.company_write_nm2 {
	width: 6.7rem;
	height: .88rem;
	background: #6E3CFF;
	border-radius: .2rem;
	text-align: center;
	line-height: .88rem;
	font-size: .3rem;
	font-weight: 500;
	color: #FFFFFF;
}


/*写点评协议*/

.write_review_protocol {
	font-size: .24rem;
	font-weight: 500;
	color: rgba(153, 153, 153, 1);
	margin-top: .6rem;
	text-align: center;
}

.write_review_protocol .protocol_content {
	color: #0DC4F5;
}


/* 1.9.6版本企业详请页面的新增样式 */

.intro_Company {
	margin-top: 0.3rem;
	color: #63617D;
	font-size: 0.26rem;
}

.intro_Company .intro_Com_Box {
	color: #63617D;
	font-size: 0.26rem;
	margin-top: 0.3rem;
	line-height: 0.36rem;
}

.intro_Company .intro_Com_Box a {
	color: #6E3CFF;
	font-size: 0.24rem;
	margin-left: 0.15rem;
}

.intro_Com_Content {
	text-align: justify;
}

.intro_Com_Content span {
	line-height: 0.36rem;
	max-height: 1.7rem;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
}


/*工商信息1.96版本*/

.z_search_basic1 {
	background: #FFFFFF;
}

.z_search_basic1 .z_search_basic1_title {
	font-size: 0.28rem;
	font-weight: bold;
	color: rgba(51, 51, 51, 1);
	line-height: 0.32rem;
}

.z_search_basic1 .z_search_basic1_box {
	padding: .3rem;
	border-top: .01rem solid rgba(221, 221, 221, 1);
}


/*.z_search_basic1 .z_no_border{
	border-bottom:none;
}*/

.z_search_basic1 .z_search_basic1_box h4 {
	font-size: .26rem;
	font-weight: 500;
	color: rgba(153, 153, 153, 1);
	line-height: .32rem;
}

.z_search_basic1 .z_search_basic1_box h3 {
	font-size: .26rem;
	font-weight: 500;
	color: rgba(110, 60, 255, 1);
	line-height: .32rem;
	margin-top: .2rem;
}

.z_search_basic1_box .z_company_basic {}

.z_search_basic1_box .z_company_basic .z_company_basic_left {
	width: 50%;
}

.z_search_basic1_box .z_company_basic .z_width_100 {
	width: 100%;
}

.z_search_basic1_box .z_company_basic .z_company_basic_left .z_company_basic_left_div {
	margin-top: .3rem;
}

.z_search_basic1_box .z_company_basic .z_company_basic_left .z_company_basic_left_div span {
	font-size: .26rem;
	font-weight: 500;
	color: rgba(153, 153, 153, 1);
	line-height: .32rem;
	display: block;
}

.z_search_basic1_box .z_company_basic .z_company_basic_left .z_company_basic_left_div p {
	font-size: .26rem;
	font-weight: 500;
	color: rgba(51, 51, 51, 1);
	line-height: .32rem;
	margin-top: .2rem;
}

.z_search_basic1_box .z_company_basic .z_company_basic_right {
	width: 50%;
}

.z_search_basic1_box .z_company_basic .z_company_basic_right .z_company_basic_left_div {
	margin-top: .3rem;
}

.z_search_basic1_box .z_company_basic .z_company_basic_right .z_company_basic_left_div span {
	font-size: .26rem;
	font-weight: 500;
	color: rgba(153, 153, 153, 1);
	line-height: .32rem;
	display: block;
}

.z_search_basic1_box .z_company_basic .z_company_basic_right .z_company_basic_left_div p {
	font-size: .26rem;
	font-weight: 500;
	color: rgba(51, 51, 51, 1);
	line-height: .32rem;
	margin-top: .2rem;
}

.z_search_basic1_box .z_company_basic .z_company_basic_left .margin_none {
	margin-top: 0;
}

.z_search_basic1_box .z_company_basic .z_company_basic_right .margin_none {
	margin-top: 0;
}

.z_search_basic1_bottom{}

.z_search_basic1_bottom .h3 {
	font-size: .28rem;
	font-weight: bold;
	color: rgba(51, 51, 51, 1);
	line-height: .32rem;
	padding: .3rem;
}

.z_search_basic1_bottom .z_search_basic1_bottom_box {
	padding: 0 .3rem .6rem .3rem;
	border-top: .01rem solid #DDDDDD;
}

.z_search_basic1_bottom .z_search_basic1_bottom_box .z_main_staff_list {
	display: flex;
	justify-content: space-between;
	/*	align-items: center;*/
	margin-top: .3rem;
}

.z_search_basic1_bottom .z_search_basic1_bottom_box .z_main_staff_list .z_main_staff_list_left {}

.z_search_basic1_bottom .z_search_basic1_bottom_box .z_main_staff_list .z_main_staff_list_left span {
	font-size: .26rem;
	font-weight: 500;
	color: rgba(110, 60, 255, 1);
	line-height: .32rem;
	display: block;
}

.z_search_basic1_bottom .z_search_basic1_bottom_box .z_main_staff_list .z_main_staff_list_left p {
	font-size: .26rem;
	font-weight: 500;
	color: #999999;
	line-height: .32rem;
	margin-top: .25rem;
}

.z_search_basic1_bottom .z_search_basic1_bottom_box .z_main_staff_list .z_main_staff_list_right span {
	font-size: .24rem;
	font-weight: 500;
	color:rgba(242,161,46,1);
	line-height: .26rem;
	display: block;
}


/*工商信息1.96版本*/


/*股东信息页1.96版本*/

.z_search_basic1 .z_shareholder_information h3 {
	font-weight: 800;
}

.z_search_basic1 .z_shareholder_information .z_shareholder_information_tt span {
	display: block;
	height: .3rem;
	padding: .05rem .1rem;
	background: #F9EDDB;
	border-radius: .06rem;
	font-size: .2rem;
	font-weight: 500;
	color: rgba(245, 137, 22, 1);
	line-height: .3rem;
	float: left;
	margin-right: .3rem;
	margin-top: .26rem;
}

.z_shareholder_information .z_company_basic .z_company_basic_left_div span {
	color: rgba(102, 102, 102, 1);
}

.z_shareholder_information .z_company_basic .z_company_basic_left .z_company_basic_left_div p {
	font-size: .24rem;
}

.z_shareholder_information .z_company_basic .z_company_basic_right .z_company_basic_left_div p {
	font-size: .24rem;
}

.z_shareholder_number {
	margin-left: .3rem;
}
.z_shareholder_number i {
	color: #FF8E16;
}
/*股东信息页1.96版本*/





/* 变更记录1.9.6版本 */

.sr_change_recordBox {
	width: 100%;
	background: #fff;
}

.sr_change_recordBox .sr_change_title {
	height: 0.86rem;
	line-height: 0.86rem;
	border-bottom: 1px solid #DDDDDD;
	font-size: 0.28rem;
	color: #333333;
}

.sr_change_recordBox .sr_change_title .sr_change_titleB {
	margin-left: 0.32rem;
	font-weight: bold;
}

.sr_change_recordBox .sr_change_title .sr_change_titleS {
	margin-left: 0.13rem;
}

.sr_change_recordBox .sr_change_title .sr_change_titleS i {
	color: #FF8E16;
}

.sr_change_item {
	padding-bottom: 0.4rem;
	border-bottom: 1px solid #DDDDDD;
}

.sr_change_item .sr_change_itemTitle {
	margin: 0.3rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sr_change_item .sr_change_itemTitle .sr_change_titleLeft {
	font-weight: 500;
	font-size: 0.24rem;
	color: #333;
	line-height: 0.32rem;
}

.sr_change_item .sr_change_itemTitle .sr_change_titleDate {
	font-size: 0.20rem;
	font-weight: 500;
	line-height: 0.26rem;
	color: #999;
}

.sr_change_item .sr_change_item_content {
	display: flex;
	font-size: 0.22rem;
	/* align-items: center; */
}

.sr_change_item .sr_change_item_content .sr_change_before {
	margin-left: 0.3rem;
}

.sr_change_recordTitle {
	width: 0.9rem;
	height: 0.35rem;
	border-radius: 0.03rem;
	/* line-height: 0.35rem; */
	font-size: 0.22rem;
	font-weight: 500;
	color: #fff;
	background: #9875FE;
	text-align: center;
	margin-bottom: 0.2rem;
}

.sr_change_before {
	width: 3rem;
	margin-right: 0.6rem;
}

.sr_change_before .sr_change_beforePerson,
.sr_change_afterPerson {
	color: #6E3CFF;
	line-height: 0.32rem;
}

.sr_change_beforePerson_quit {
	text-decoration: line-through;
	color: #999999;
}

.sr_change_afterPerson_new {
	color: #FF8E16;
}

.sr_change_afterPerson_new span {
	margin-left: 0.18rem;
}

.sr_change_supervisor {
	color: #333;
	line-height: 0.32rem;
	font-size: 0.22rem;
	font-weight: 500;
}

.sr_change_rangeRight,
.sr_change_rangeLeft {
	width: 3.08rem;
	color: #999999;
	font-size: 0.22rem;
	line-height: 0.33rem;
	font-weight: 500;
}

.sr_change_item:last-child {
	border-bottom: 0;
}

.sr_change_rangeRight span {
	color: #FF8E16;
}

.sr_change_range_new a {
	color: #8459FF;
	font-size: 0.22rem;
	font-weight: 500;
	margin-top: 0.3rem;
	display: block;
	text-align: center;
}


/*股东信息1.9.6   sr_shareholder_information.html*/

.sr_shareholder_item {
	padding: 0 0 0.3rem 0.3rem;
	border-bottom: 1px solid #DDDDDD;
}

.sr_shareholder_item .sr_share_itemTitle {
	font-size: 0.26rem;
	font-weight: 800;
	line-height: 0.32rem;
	color: #6E3CFF;
	margin-top: 0.3rem;
}

.sr_shareholder_item .sr_share_itemTitleBottom {
	display: flex;
	margin-top: 0.26rem;
}

.sr_shareholder_item .sr_share_itemTitleBottom .sr_strong_stock {
	padding: 0.05rem 0.1rem;
	background: rgba(235, 195, 137, 0.3);
	/* opacity:0.3; */
	border-radius: 0.06rem;
	font-size: 0.20rem;
	font-weight: 500;
	color: #F58916;
	line-height: 0.26rem;
}

.sr_share_content {
	display: flex;
}

.sr_share_contentLeft {
	width: 2.4rem;
}

.sr_share_contentRight {
	margin-left: 1rem;
}

.sr_shareholder_item .sr_share_itemTitleBottom .sr_strong_stockRight {
	margin-left: 0.3rem;
	background:rgba(230,233,251,1);
	color:rgba(88,115,230,1);
}

.sr_putUp_left {
	margin-top: 0.3rem;
}

.sr_put {
	font-size: 0.24rem;
	font-weight: 500;
	color: #999;
	line-height: 0.32rem;
}

.sr_quantity {
	font-size: 0.24rem;
	font-weight: 500;
	color: rgba(51, 51, 51, 1);
	line-height: 0.26rem;
	margin-top: 0.18rem;
}


/* 对外投资1.9.6版本  search_sr_investment_abroad.html */

.sr_invest_content_title {
	margin-top: 0.3rem;
	display: flex;
	justify-content: space-between;
	padding-right: 0.3rem;
}

.sr_invest_content_title .sr_invest_left {
	font-size: 0.26rem;
	font-weight: 500;
	color: rgba(110, 60, 255, 1);
	line-height: 0.32rem;
}

.sr_invest_content_title .sr_hold {
/* 	padding: 0.06rem 0.15rem; */
	width:0.88rem;
	height:0.32rem;
	display: block;
	border: 1px solid rgba(110, 60, 255, 1);
	border-radius: 0.03rem;
	font-size: 0.20rem;
	font-weight: 500;
	color: rgba(117, 70, 255, 1);
	line-height: 0.32rem;
	text-align: center;
	border-radius: 0.08rem;
}


/* 实际控制权1.9.6版本    search_sr_control.html*/
.sr_company_controlItem{
	border-bottom: 1px solid rgba(221,221,221,1);
	margin: 0.30rem;
}
.sr_company_controlItem:last-child{
	border-bottom: 0;
}
.sr_holdName{
	margin-top: 0.28rem;
}
.sr_holdName .sr_controlTitleName{
	font-size:0.24rem;
	font-weight:500;
	color:rgba(153,153,153,1);
	line-height:0.32rem;
}
.sr_holdName .sr_controlTitle{
	font-size:0.24rem;
	font-weight:bold;
	color:rgba(110,60,255,1);
	line-height:0.32rem;
}
.sr_holdName .sr_radioNum,.sr_holdName .sr_wayOne{
	color:rgba(51,51,51,1);
}
.sr_marginTop30{
	margin-top: 0.3rem;
}
.sr_marginTop{
	margin-top:0.20rem;
}
.sr_Corporate_shareBg{
	width:6.60rem;
	/* height:1.03rem; */
	background:rgba(250,250,250,1);
	border-radius:0.05rem;
	margin:0.3rem auto;
	padding: 0.3rem 0 0.3rem 0.3rem;
	/* display: flex; */
	/* flex-wrap: wrap; */
	/* word-wrap:break-word; 
	word-break:break-all; 
	overflow: hidden; */
	/* overflow-wrap:break-word; */
	
}
.sr_CorporateTitle{
	font-size:0.24rem;
	font-weight:500;
	color:rgba(110,60,255,1);
	line-height:0.32rem;
}
.sr_CorporateMid{
	margin:-0.2rem 0.15rem;
}
.sr_arrowTip{
	display: flex;
	align-items: center;
}
.sr_Mid_radio{
	font-size:0.20rem;
	font-weight:500;
	color:rgba(102,102,102,1);
	line-height:0.26rem;
	margin-left: 0.1rem;
}
.sr_to_right{
	width: 0;
    height: 0;
    border-left: 0.08rem solid #BBBBBB;
    border-top: 0.08rem solid transparent;
    border-bottom: 0.08rem solid transparent;
}
.sr_toLink{
	width:0.69rem;
	height:0.02rem;
	background:rgba(187,187,187,1);
}